{
  "openapi": "3.1.0",
  "info": {
    "title": "Big Exec Pro Football Machine API",
    "version": "2026-09-08",
    "description": "Authenticated read-only machine surfaces over existing Big Exec beta operations."
  },
  "servers": [
    {
      "url": "https://www.bigexecfs.com"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Read application health.",
        "responses": {
          "200": {
            "description": "Health status."
          }
        }
      }
    },
    "/api/capabilities": {
      "get": {
        "operationId": "listCapabilities",
        "summary": "List Big Exec capabilities and Front Office Advisor tool contracts.",
        "responses": {
          "200": {
            "description": "Capability inventory."
          }
        }
      }
    },
    "/api/assistant-gm/tools": {
      "post": {
        "operationId": "runAssistantGmReadTools",
        "summary": "Run declared read-only Front Office Advisor tools for the signed-in user.",
        "responses": {
          "200": {
            "description": "Tool responses."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Not signed in."
          },
          "403": {
            "description": "Policy denial."
          }
        }
      }
    },
    "/api/assistant-gm/run": {
      "post": {
        "operationId": "runAssistantGmAgentLoop",
        "summary": "Run a bounded, policy-gated Front Office Advisor read-tool loop for the signed-in user.",
        "responses": {
          "200": {
            "description": "Completed bounded run."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Not signed in."
          },
          "403": {
            "description": "Policy denial."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/state": {
      "get": {
        "operationId": "getLeagueState",
        "summary": "Read league metadata and standings for the signed-in member.",
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "League state."
          },
          "401": {
            "description": "Not signed in."
          },
          "403": {
            "description": "Not a league member."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/roster": {
      "get": {
        "operationId": "getOwnedRoster",
        "summary": "Read the signed-in manager-owned roster.",
        "responses": {
          "200": {
            "description": "Owned roster."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/lineup": {
      "get": {
        "operationId": "getOwnedLineup",
        "summary": "Read the signed-in manager-owned lineup for a week.",
        "parameters": [
          {
            "name": "week",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 18,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Owned lineup."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/draft": {
      "get": {
        "operationId": "getDraftState",
        "summary": "Read current draft status and picks.",
        "responses": {
          "200": {
            "description": "Draft state."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/draft/available": {
      "get": {
        "operationId": "getDraftAvailablePlayers",
        "summary": "Read current draft-available rankings.",
        "responses": {
          "200": {
            "description": "Available draft rankings."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/waivers": {
      "get": {
        "operationId": "getWaiverDesk",
        "summary": "Read waiver rules, open holds, and requester claims.",
        "responses": {
          "200": {
            "description": "Waiver state."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/players": {
      "get": {
        "operationId": "searchLeaguePlayers",
        "summary": "Search eligible players with roster availability state.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "available",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player search results."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/players/{athleteId}": {
      "get": {
        "operationId": "getPlayerDetails",
        "summary": "Read one fantasy-eligible player profile and availability state.",
        "responses": {
          "200": {
            "description": "Player detail."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/matchups/{matchupId}": {
      "get": {
        "operationId": "getMatchupState",
        "summary": "Read a league matchup and lineup state.",
        "responses": {
          "200": {
            "description": "Matchup state."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/trades": {
      "get": {
        "operationId": "getTradeContext",
        "summary": "Read current league trade context.",
        "responses": {
          "200": {
            "description": "Trade context."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/history": {
      "get": {
        "operationId": "getLeagueHistory",
        "summary": "Read current league history, awards, championships, and story events.",
        "responses": {
          "200": {
            "description": "League history."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/schedule": {
      "get": {
        "operationId": "getLeagueSchedule",
        "summary": "Read fantasy matchups and real games for a league week.",
        "responses": {
          "200": {
            "description": "League schedule."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/entitlement": {
      "get": {
        "operationId": "getLeagueEntitlement",
        "summary": "Read current league-season entitlement mode.",
        "responses": {
          "200": {
            "description": "Entitlement state."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/knowledge": {
      "get": {
        "operationId": "searchBigExecKnowledge",
        "summary": "Search sourced Big Exec Front Office Advisor knowledge-base documents.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sourced knowledge-base results."
          }
        }
      }
    },
    "/api/leagues/{leagueId}/invitations": {
      "get": {
        "operationId": "getInvitationState",
        "summary": "Read commissioner-only invitation state.",
        "responses": {
          "200": {
            "description": "Invitation state."
          },
          "403": {
            "description": "Commissioner access required."
          }
        }
      }
    }
  }
}
