NEXT_PUBLIC_APP_URL=https://fantasysports-tawny.vercel.app
NEXT_PUBLIC_SUPABASE_URL=https://njjiqdqhmcbxblwhfade.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-ZgoAQmsSp2bNmrfhk11yw_BzLWKXBP
SUPABASE_SERVICE_ROLE_KEY=
SPORTS_DATA_PROVIDER=
SPORTS_DATA_API_KEY=
OPENAI_API_KEY=
RESEND_API_KEY=
EMAIL_AUTH_FROM=
EMAIL_LEAGUE_FROM=
